html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(46, 52, 59);
  /* display: flex;
  flex-direction: column; */
}
#main {
  display: flex;
  flex-direction: column;
}
#navbar {
  /*Removed*/
  /*  width: 100%; */
  /*  flex-direction: row; */
  font-family: "Anton", sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d66304;
  /*Added*/
  height: 10vh;
  min-height: 70px;
}
#navbar li {
  list-style: none;
}
#profile-link {
  text-decoration: none;
  color: aliceblue;
}
#welcome-section {
  color: aliceblue;
  height: 700px;
}
#welcome-section {
  line-height: 30px;
  text-align: center;

  /*Added*/
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
#welcome-section h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #d66304,
    -1px -1px 0 #d66304;
}
#welcome-section h2 {
  font-family: "Anton", sans-serif;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  color: #d66304;
}
#projects {
  height: 700px;
  background-color: #e4f1fe;
}
#projects h2 {
  color: #d66304;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-align: center;
}
.project-image {
  margin-top: 20vh;
}
#wrapper {
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: "a b c";
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
#image1 {
  width: 54vh;
  height: 33vh;
  grid-area: a;
  align-self: center;
  border: 3px black solid;
}
#image2 {
  width: 54vh;
  height: 33vh;
  grid-area: b;
  align-self: center;
  border: 3px black solid;
}
#image3 {
  width: 54vh;
  height: 33vh;
  grid-area: c;
  align-self: center;
  border: 3px black solid;
}
#image2:hover {
  box-shadow: 10px 5px 5px black;
}
#image1:hover {
  box-shadow: 10px 5px 5px black;
}
#image3:hover {
  box-shadow: 10px 5px 5px black;
}
