html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(46, 52, 59);
  /* display: flex;
  flex-direction: column; */
}
#main {
  display: flex;
  flex-direction: column;
}
#navbar {
  /*Removed*/
  /*  width: 100%; */
  /*  flex-direction: row; */
  font-family: "Anton", sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d66304;
  /*Added*/
  height: 10vh;
  min-height: 70px;
}
#navbar li {
  list-style: none;
}
#profile-link {
  text-decoration: none;
  color: aliceblue;
}
#welcome-section {
  color: aliceblue;
  height: 700px;
}
#welcome-section {
  /*Removed*/
  /* height: 1700px; */
  /* left: 0; */
  /* margin-top: -100px; */
  /* position: absolute; */
  /* width: 100%; */
  line-height: 30px;
  text-align: center;

  /*Added*/
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
#welcome-section h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #d66304,
    -1px -1px 0 #d66304;
}
#welcome-section h2 {
  font-family: "Anton", sans-serif;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  color: #d66304;
}
#projects {
  height: 700px;
  background-color: #e4f1fe;
  /* background-color: aquamarine; */
}
#projects h2 {
  color: #d66304;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-align: center;
}
.viewCollasheColumn1Content {
  width: 1775px;
  height: 100%;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.project-image {
  display: grid;
  /* object-fit: cover; */
  height: 200vh;
}
#wrapper {
  grid-template-columns: 100px;
  grid-auto-rows: 100px;
  grid-template-columns: 20px [col-start] 20px [col-start] 20px [col-start];
}
